/AssetBundleInfo/
/node_modules/
*-lock.json
*-lock.yaml
/compare/
/assets/
/analysing/
/history_store/
/src/.env
/dist/
/.idea/
/bin/
/bridge/bin/
/bridge/obj/

/scripts/benchmark/
/reports/benchmark-*
/tests/bridge/bin/
/tests/bridge/obj/
